@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Wayo</h1>
    <p>Learn about <a href="https://www.linkedin.com/company/wayo-rezzult/" target="_blank" rel="noopener noreferrer">Wayo</a>.</p>
</div>
